<div class="authorship container">
    <div class="row">
        <div class="col col-sm-12">
            <div class="authorship-img"></div>
            <div class="authorship-info">
                <p class="authorship-name">Martha Lien</p>
                <p class="authorship-position">Thrivent Financial</p>
            </div>
        </div>
    </div>
</div>