<div class="banner-about-gradpath" style="background-image: url('../../images/students-studying-together.jpg');">

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                    <h2>
                        We envision a world where all students have means to create  opportunity for themselves and others through education and smart living around their finances.
                    </h2>

            </div>

        </div>

    </div>

</div>
    
