<div class="banner-module-story {{class}}" style="background-image: url('{{image}}');">

    <div class="container">

        <div class="row">

            <div class="col-md-6 col-md-offset-6 transparency">
                
                <div class="">

                <div class="story-content">

                    <h2>{{title}}</h2>

                    <h4>{{{signature}}}</h4>

                </div>
                    
                </div>    

            </div>

        </div>

    </div>

</div>

    


