<div class="banner-about-gradpath banner-simple-gradpath" style="background-image: url('../../images/students-studying-together.jpg');">

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                    <h2>
                        {{title}}
                    </h2>

            </div>

        </div>

    </div>

</div>
    
