<div class="banner-green dark-contrast" style="background-image: url('{{image}}');">
    
    <div class="container text-center">
        
    <h2>{{title}}</h2>   
        
        
        <div class="mt40">
            
            <div class="row">
                <div class="col-sm-12">
                    <div class="lines">
//////////////////////////////////////////////////////////////////////////////////////////////////////
                    </div>
                </div>
            </div>    
        
             <div class="row">
                 <div class="col-sm-3">{{> atoms/circle background="" class="" title="<strike>NFP</strike>" subtitle=""}}
                 <h3>Tell Your Story</h3><h5>20 Minutes</h5><p>Create your account, write your story and show what you've already done.</p>
                 
                 </div>
                 
                  <div class="col-sm-3">{{> atoms/circle background="" class="" title="<strike>NFP</strike>" subtitle=""}}
                 <h3>Tell Your Story</h3><h5>20 Minutes</h5><p>Create your account, write your story and show what you've already done.</p>
                 
                 </div>
                 
                  <div class="col-sm-3">{{> atoms/circle background="" class="" title="<strike>NFP</strike>" subtitle=""}}
                 <h3>Tell Your Story</h3><h5>20 Minutes</h5><p>Create your account, write your story and show what you've already done.</p>
                 
                 </div>
                 
                  <div class="col-sm-3">{{> atoms/circle background="" class="" title="<strike>NFP</strike>" subtitle=""}}
                 <h3>Tell Your Story</h3><h5>20 Minutes</h5><p>Create your account, write your story and show what you've already done.</p>
                 
                 </div>
                 
            </div> 
                 
                 
             <div class="row">
                 <div class="col-sm-12 mt80">
                     {{> atoms/button title="Learn More About How GradPath Works" modifierClass="default-button inverted"}}
                 </div>
             </div>
                 
 
        
        </div>
       
    </div>  
  
</div>

