<div class="banner-module banner-module-home {{class}}" style="background-image: url('{{image}}');">

    <div class="container">

        <div class="row">

            <div class="col-md-5 col-md-offset-7">

                <div class="hero-content">

                    <h1>{{title}}</h1>

                    {{> atoms/button title="This is new school lending" modifierClass="default-button inverted"}}

                </div>

            </div>

        </div>

    </div>

</div>
    

