<div class="banner-gray light-contrast">
    
    <div class="container text-center">
        
    <h1>{{title}}</h1>
        
        <p>Wherever you are, and each step of the way, we have tools and resources to help you make the best decision.</p>
        
        
        
        <div class="mt40 hexagon">
            
            <div class="row">
        
            <div class="col-sm-2 hidden-xs"></div>
            <div class="col-sm-4">{{> atoms/circle background="circle-1" icon="circle-icon-1" title="Prepare to Plan" subtitle="Find the Real Cost of College"}}</div>
            <div class="col-sm-4">{{> atoms/circle background="circle-1" icon="circle-icon-2" title="Set College Goals" subtitle="Compare, Apply, Financial Aid"}}</div>
            <div class="col-sm-2 hidden-xs"></div>  
        
       </div> 
      
        
<div class="row">
            <div class="col-sm-4">{{> atoms/circle background="circle-1" icon="circle-icon-1" title="Now Empower Others" subtitle="Join the Movement"}}</div>
            <div class="col-sm-4">{{> atoms/circle background="circle-1" icon="circle-icon-2" title="Remember to Have Fun" subtitle="Videos & Games"}}</div>
            <div class="col-sm-4">{{> atoms/circle background="circle-1" icon="circle-icon-1" title="Close The Gap" subtitle="Scholarships & Community"}}</div>   
        
      </div>  
   
  <div class="row">      
            <div class="col-sm-2 hidden-xs"></div>
            <div class="col-sm-4">{{> atoms/circle background="circle-1" icon="circle-icon-2" title="Pay Back Quickly" subtitle="Budget & Refinance Loans"}}</div>
            <div class="col-sm-4">{{> atoms/circle background="circle-1" icon="circle-icon-1" title="Borrow Smart" subtitle="Life Hacks & Lean Loans"}}</div>
            <div class="col-sm-2 hidden-xs"></div>    
         </div>
        
        </div>
       
    </div>  
  
</div>

