<div class="banner-module-gradpath {{class}}" style="background-image: url('{{image}}');">

    <div class="container">

        <div class="row">

            <div class="col-md-9">

                <div class="hero-content">

                    <h1>{{{title}}}</h1><h4>{{subtitle}}</h4>

                    {{> atoms/button title="get started with gradpath" modifierClass="default-button inverted"}}

                </div>

            </div>

        </div>

    </div>

</div>
    

