<div class="banner-gray light-contrast">
    
    <div class="container text-center">
        
    <h1>{{title}}</h1>
        
        <p>Wherever you are, and each step of the way, we have tools and resources to help you make the best decision.</p>
        
        
        
        <div class="row mt40">
        
            <div class="col-sm-2 hidden-xs"></div>
            <div class="col-sm-4">{{> atoms/circle background="circle-1" icon="img-1" title="Prepare to Plan" subtitle="Find the Real Cost of College"}}</div>
            <div class="col-sm-4">{{> atoms/circle background="circle-1" icon="img-1" title="Prepare to Plan" subtitle="Find the Real Cost of College"}}</div>
            <div class="col-sm-2 hidden-xs"></div>  
        
        
      
        

            <div class="col-sm-4">{{> atoms/circle background="circle-1" icon="img-1" title="Prepare to Plan" subtitle="Find the Real Cost of College"}}</div>
            <div class="col-sm-4">{{> atoms/circle background="circle-1" icon="img-1" title="Prepare to Plan" subtitle="Find the Real Cost of College"}}</div>
            <div class="col-sm-4">{{> atoms/circle background="circle-1" icon="img-1" title="Prepare to Plan" subtitle="Find the Real Cost of College"}}</div>   
        
        
   
        
            <div class="col-sm-2 hidden-xs"></div>
            <div class="col-sm-4">{{> atoms/circle background="circle-1" icon="img-1" title="Prepare to Plan" subtitle="Find the Real Cost of College"}}</div>
            <div class="col-sm-4">{{> atoms/circle background="circle-1" icon="img-1" title="Prepare to Plan" subtitle="Find the Real Cost of College"}}</div>
            <div class="col-sm-2 hidden-xs"></div>    
        
        
        </div>
        
        
       
    </div>  
  
</div>

