<div class="container-fluid banner-gray light-contrast">

    <div class="row">
        <div class="col-md-12">
            <div class="container text-center">

                <h1>{{title}}</h1>

                <p>Wherever you are, and each step of the way, we have tools and resources to help you make the best
                    decision.</p>


                <div class="mt40 hexagon">

                    <div class="row">

                        
                        <div
                          class="col-sm-4 col-sm-offset-2">{{> atoms/circle background="circle-1" class="circle-icon-1" title="1. Prepare to Plan" subtitle="Find the Real Cost of College"}}</div>
                        <div
                          class="col-sm-4">{{> atoms/circle background="circle-1" class="circle-icon-2" title="2. Set College Goals" subtitle="Compare, Apply, Financial Aid"}}</div>
                       

                    </div>


                    <div class="row">
                        <div
                          class="col-sm-4 hidden-xs">{{> atoms/circle background="circle-1" class="circle-icon-1" title="6. Now Empower Others" subtitle="Join the Movement"}}</div>
                        <div
                          class="col-sm-4 hidden-xs">{{> atoms/circle background="circle-1" class="circle-icon-2" title="7. Remember to Have Fun" subtitle="Videos & Games"}}</div>
                        <div
                          class="col-sm-4">{{> atoms/circle background="circle-1" class="circle-icon-1" title="3. Close The Gap" subtitle="Scholarships & Community"}}</div>
                        <div
                          class="col-sm-4 visible-xs">{{> atoms/circle background="circle-1" class="circle-icon-1" title="4. Borrow Smart" subtitle="Life Hacks & Lean Loans"}}</div>

                    </div>

                    <div class="row">
                      
                        <div
                          class="col-sm-4 col-sm-offset-2">{{> atoms/circle background="circle-1" class="circle-icon-2" title="5. Pay Back Quickly" subtitle="Budget & Refinance Loans"}}</div>
                        <div
                          class="col-sm-4 hidden-xs">{{> atoms/circle background="circle-1" class="circle-icon-1" title="4. Borrow Smart" subtitle="Life Hacks & Lean Loans"}}</div>
                        <div
                          class="col-sm-4 visible-xs">{{> atoms/circle background="circle-1" class="circle-icon-1" title="6. Now Empower Others" subtitle="Join the Movement"}}</div>
                        <div
                          class="col-sm-4 visible-xs">{{> atoms/circle background="circle-1" class="circle-icon-2" title="7. Remember to Have Fun" subtitle="Videos & Games"}}</div>
                       
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

