<div class="banner-module-resources {{class}}" style="background-image: url('{{image}}');">

    <div class="container">
        
        
        <div class="row">

            <div class="col-md-12">

                <div class="breadcrumbs">
                    
                    <a href="#">Resources</a> > Set Your College Goals

                </div>

            </div>

        </div>
        
        
        <div class="row">

            <div class="col-md-12">

                <div class="list-circles">
                    
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        
                    </ul>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-7">

                <div class="resources-content">

                    <h1>{{title}}</h1>

                </div>

            </div>

        </div>
        
        <div class="row">

            <div class="col-md-6">

                <div class="resources-content">

                    <p>{{text}}</p>

                 </div>

            </div>
            
          <div class="col-md-6">

                <div class="bordered-white-container light-contrast">
                    
                    <h3>Featured Tool</h3>
                    <h5>Cost-ofCollege Comparison</h5>
                    <img src="/images/resources-data.png" alt="">
                   <p>The most important step in planning for college is understanding the real cost of a school so you can select a school or schools that make financial sense. Try out this tool to compare the actual cost of attending different colleges, including more than just tuition.</p>
                    
                    {{> atoms/button title="try it out" modifierClass="default-button inverted"}}

                </div>

            </div>

        </div>
        
        
        
        
                            
        
        
        

    </div>

</div>
    

