<div class="campaign-story {{modifierClass}}" style="background-image: url('{{image}}');"> 
    
    <div class="transparency">
        
        <div class="container">
            
            <div class="row">

                <div class="col-md-6">
                    
                    <div class="form-wrapper dark-contrast">
                
                        <h2>Patti's Story</h2>

                        <div class="input-row">

                        <textarea rows="5"></textarea>

                        </div>
                        
                        {{> atoms/button title="next" modifierClass="default-button inverted"}}

                        
                    </div>    
                
                </div>

                <div class="col-md-6">

                    <div class="story-content">

                        <h2>Tips for telling a good story</h2>

                        <ol>
                            <li>Make Your Campaign Ask First and Foremost
                            
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                
                                <p>Lorem ipsum dolor sit amet, consectetur eiusmod?</p>
                            
                            </li>
                            
                            <li>Make Your Campaign Ask First and Foremost
                            
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                
                                <p>Lorem ipsum dolor sit amet, consectetur eiusmod?</p>
                            
                            </li>
                            
                            <li>Make Your Campaign Ask First and Foremost
                            
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                
                                <p>Lorem ipsum dolor sit amet, consectetur eiusmod?</p>
                            
                            </li>
                        
                        
                        </ol>

                    </div>

                </div>

            </div>    
            
         </div>

    </div>

</div>

    


