<div class="container about-content">
    <p class="red">
        GradPath was created to help students with different needs close part of the gap to pay for college and related expenses. We want everyone who is inspired and motivated to have a meaningful education reach their career goals, and become greater in their ability to do good for others. We celebrate and support people looking to create a better future for themselves, their families and their communities.
    </p>
    <div class="icon">
        <img src="https://dev.thriventstudentloanresources.com/TSLR_Site/img/iccoin.svg" alt="">
    </div>
    <p>
        By giving as little as $5 on GradPath, anyone who is already in surplus in their lives can help a student close the cost-of-college gap and make their education a reality. For some, it makes it possible to reach a little higher. For others, it makes possible a life-long ambition itself.
    </p>
    <div class="icon">
        <img src="https://dev.thriventstudentloanresources.com/TSLR_Site/img/iccoin.svg" alt="">
    </div>
    <p>
        GradPath is a product of Thrivent Student Loan Resources, a division of Thrivent Financial. Thrivent is a not-for-profit financial services organization who believe that education, finances for good and generosity will make the world a bette place for all people. We engage our members and show them where they can be generoud in the world around them.
    </p>

    <div class="buttons-wrapper">
        {{> atoms/button modifierClass="default-button" title="Find Students You Can Help" }}
        {{> atoms/button modifierClass="default-button" title="Get Started with GradPath" }}
        {{> atoms/button modifierClass="default-button" title="Learn More About How GradPath Works" }}
    </div>
</div>