<div class="container find-students">
    <div class="row">
        <div class="col-sm-12">

            <h2>Find Other GradPath Students</h2>

            <div class="find-students-search">
                <label for="find-students">
                    <p>Student Name</p>
                    <input name="find-students" type="text">
                </label>

                {{> atoms/button modifierClass="default-button" title="search students" }}
            </div>
        </div>
    </div>
</div>