<div class="pdf-list">
    <ul>
        <li><img src="../images/ic-pdf.png" alt=""><a href="">Unordered PDF documents list</a></li>
        <li><img src="../images/ic-pdf.png" alt=""><a href="">Unordered PDF documents list</a></li>
        <li><img src="../images/ic-pdf.png" alt=""><a href="">Unordered PDF documents list</a></li>
    </ul>
</div>