<div class="product-offering">
    <h3>Undergraduate and graduate</h3>
    <h4>Thrivent Private Student Loan</h4>
    <ul>
        <li>Unordered list item</li>
        <li>Unordered list item</li>
        <li>Unordered list item</li>
        <li>
            Unordered list item:
            <ul>
                <li>Unordered list item inside of an unordered list</li>
                <li>Unordered list item inside of an unordered list</li>
                <li>Unordered list item inside of an unordered list</li>
            </ul>
        </li>
    </ul>
        {{> atoms/button }}
</div>