<div class="promo-copy">
    <p>The New School Lending Community (formerly known as cuLearn Connect) is a group of students, parents, and learners alike that share one question in common: How am I going to pay for college!? The student debt crisis has gotten out of hand. Together with Thrivent, we can make a difference in improving the crisis through education and resources!</p>
    <h4>By joining, Thrivent will connect you with:</h4>
    <ul>
        <li><img src="/images/ic-envelope.png" alt=""><p>Scholarship opportunities</p></li>
        <li><img src="/images/ic-lightbulb.png" alt=""><p>Educational resources about how to pay for college</p></li>
        <li><img src="/images/ic-calculator.png" alt=""><p>Learnings on how to be wise with money during the college years</p></li>
    </ul>
    <h4>You're also eligible to enter for a chance to win a $5,000 scholarship if you: </h4>
    <ul>
        <li><img src="/images/ic-18-plus.png" alt=""><p>Are 18+</p></li>
        <li><img src="/images/ic-united-states.png" alt=""><p>Are currently seeking an undergraduate or graduate degree</p></li>
        <li><img src="/images/ic-graduation-cap.png" alt=""><p>Do not reside in NY, FL or RI</p></li>
    </ul>
    <p>See <a href="#">Official Rules</a> for complete details on eligibility.</p>
</div>