<div class="container">
    
    <div class="form-wrapper">
        
    <div class="row mt20">
         <div class="col-md-12">
             
             <h3>Already have an account? <a href="#">Sign in</a></h3><b>Or Sign Up</b><hr>
             
         </div>
    </div>
    
    <div class="row mb40">

        <div class="col-md-4"> 
            
                <form action="">

                        <div class="input-row">
                            <div class="form-label">
                                <label class="" style="" for="">First Name</label>
                            </div>
                            <input type="text" maxlenght="50" placeholder="">

                        </div>


                        <div class="input-row">
                            <div class="form-label">
                                <label class="" style="" for="">Last Name</label>
                            </div>
                            <input type="text" maxlenght="50" placeholder="">

                        </div>


                        <div class="input-row">
                            <div class="form-label">
                                <label class="" style="" for="">Email</label>
                            </div>
                            <input type="email" maxlenght="50" placeholder="">

                        </div>

                        <div class="input-row">
                            <div class="form-label">
                                <label class="" style="" for="">Create Password</label>
                            </div>
                            <input type="password" maxlenght="50" placeholder="">

                        </div>
                        
                        
                        <div class="mt20">
                            {{> atoms/button modifierClass="default-button" title="continue" }}

                        </div>
                    
                    </form>
                    

                </div>

        </div>

    </div>
    
</div>    