<div class="static-item-article students-gradpath create-campaign">
<div class="container">    
    <div class="row">
        <div class="col-sm-12">
        <h1>Create Your Campaign</h1>
        </div>
    </div> 
    <div class="row mt40">
        <div class="col-md-5">
            <img src="/images/student.png" alt="">
        </div>
        <div class="col-md-7">
            <div class="">
                <h2>13% <span>funded</span></h2>

                <p>
                    <p class="students-progress-value">Total loan: $1000</p>
                    <div class="students-progress">///////</div>
                    <p class="students-progress-value">$300 to go</p>
                </p>
            
            
            </div>
        </div>
    </div>
    
      <div class="row mt40">
        <div class="col-md-12">
        <hr>
            <h4>$1000 will help Patti cover the cost of Living Expenses and Lab Fees/Software, so she can succeed in college.</h4>
            
        </div>
       </div>  
    
    
</div>
</div>    