<div class="container">

    <div class="form-wrapper">

        <div class="row mt20">
            <div class="col-md-12">

                <h2>What are your college cost needs?</h2>

            </div>
        </div>

        <div class="row mb40">

            <div class="col-md-12">

                <form action="">

                    <p>About how much do you think you'll need to fill your cost-of-college gap?</p>

                    <hr>
                    <label>Fundraising Goal (can change later)</label>

                    <div class="radio">
                        <label><input type="radio" name="optradio" value="">500</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio" value="">1000</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio" value="">2000</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio" value="">5000</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio" value="">10000</label>
                    </div>

                    <hr>
                    <label>What do you need funds for at this time? (can change later)</label>

                    <div class="checkbox">
                        <label><input type="checkbox" value="">Tuition (portion of)</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Living expenses</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Books</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Lab fees of software</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Other</label>
                    </div>


                    <hr>
                    <label>To use GreenNote, you must be asking for funding specifically for school, and be enrolled to attend a college in the United States</label>

                    <div class="checkbox">
                        <label><input type="checkbox" value="">I'll be using these funds for college, not for personal use</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">I'm currently accepted to or enrolled in a U.S. college</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">I have already applied for a financial aid, and looked at other scholarchip or grant opportunities</label>
                    </div>

                    <div class="mt40">
                        {{> atoms/button modifierClass="default-button" title="next" }}

                    </div>

                </form>


            </div>

        </div>

    </div>

</div>