<div class="static-item-article">

    <img src="../images/item-articles.png" alt="">

    <div class="content-center">
        <h4>Before You Borrow</h4>

        <hr>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim…
        </p>
        {{#if home}}
            <div class="students-progress">///////</div>
            <p class="students-progress-value">$300 to go</p>
        {{else}}
            <p class="mt40">
                <a href="#" title="Read More">Read More</a>
            </p>
        {{/if}}

    </div>
</div>