<div class="container-fluid">

    {{> organisms/header title="Banner Resources" }}

</div>

<div class="row">
    <div class="col-md-12">

        {{> molecules/banner-resources title="Choose the School that will Have the Greatest Impact" class="dark-contrast no-gradiant" image="../images/tools-resources.jpg"}}

    </div>
</div>

<hr>






