<div class="container-fluid">
     
    {{> organisms/header title="Banner Hero GradPath" }}
    
</div>    
    

    <div class="row">
        <div class="col-md-12"> 

            {{> molecules/banner-hero-gradpath title="Fill the Cost-of-College Gap,<br>Do Great Things" subtitle="GradPath brings together college students and the generosity of community to support making the college dream possible." class="dark-contrast" image="/images/students-studying-together.jpg"}}
            
        </div>  
    </div>

    <hr>

     <div class="row">
        <div class="col-md-12"> 

            {{> molecules/banner-hero-gradpath title1="Fill the Cost-of-College Gap," title2="Do Great Things" subtitle="GradPath brings together college students and the generosity of community to support making the college dream possible." class="light-contrast no-gradiant" image="/images/confetti.svg"}}
            
        </div>  
    </div>  

<hr>


