<div class="container-fluid">

    {{> organisms/header title="Banner Gray" }}


</div>

<div class="row">
    <div class="col-md-12">

        {{> molecules/banner-gray title="Title Here"}}

    </div>
</div>
     
    




