<div class="container-fluid">
     
    {{> organisms/header title="Banner Hero" }}
    
</div>    
    

    <div class="row">
        <div class="col-md-12"> 

            {{> molecules/banner-hero title="Title Here - Dark Contrast " image="/images/banner-home-page.jpg"}}
            
        </div>  
    </div>

    <hr>

     <div class="row">
        <div class="col-md-12"> 

            {{> molecules/banner-hero title="Title Here - Light Contrast" class="light-contrast no-gradiant" image="/images/confetti.svg"}}
            
        </div>  
    </div>  

<hr>


