<div class="container-fluid">
    {{> organisms/header title="Banner About" }}

    {{> molecules/banner-about-gradpath title="We envision a world where all students have means to create  opportunity for themselves and others through education and smart living around their finances."}}

</div>
