<div class="container-fluid">

    {{> organisms/header title="Banner Gray Gradpath" }}

</div>

<div class="row">
    <div class="col-md-12">

        {{> molecules/banner-gray-gradpath title="Title Here"}}

    </div>
</div>
     
    




