<div class="container-fluid">
    {{> organisms/header title="Banner" }}
    
</div>   

<div class="row">
        <div class="col-md-12"> 

    {{> molecules/banner title="Title Here" content-text="Some text here, this banner is dark contrast" image="/images/banner-bg.jpg" class="dark-contrast"}} 

        </div>  
</div> 

<hr>

<div class="row">
        <div class="col-md-12"> 

    {{> molecules/banner title="Title Here" content-text="Some text here, this banner is light contrast" image="" class="light-contrast no-gradiant"}} 

        </div>  
</div> 
            
            