<div class="container-fluid">

    {{> organisms/header title="Banner" }}

    <div class="row">
        <div class="col-md-12">

            {{> molecules/banner title="Title Here"}}

        </div>
    </div>
</div>
