<div class="container-fluid">

    {{> organisms/header title="Banner Green GradPath" }}

</div>


<div class="row">
    <div class="col-md-12">

         {{> molecules/banner-green-gradpath title="How It Works" class="dark-contrast" image="/images/bgpattern.jpg"}}

    </div>
</div>



