<div class="container-fluid">

    {{> organisms/header title="Banner Story GradPath" }}

</div>


<div class="row">
    <div class="col-md-12">

        {{> molecules/banner-story-gradpath title="Story here" signature="Signature" class="dark-contrast" image="/images/young-woman-presenting-planning-board-wider-bw.jpg"}}

    </div>
</div>



