<div class="container-fluid">

    {{> organisms/header title="Campaign Story GradPath" }}

</div>


<div class="row">
    <div class="col-md-12">

        {{> molecules/campaign-story-gradpath image="/images/bgpattern.jpg" modifierClass=""}}

    </div>
</div>



