{{> organisms/header title="this will be some example"}}

<div class="main-container page-layout">
    
    {{> molecules/article }}

    {{> molecules/qa }}

    {{> molecules/signup-form }}

    {{> organisms/footer }}

</div>