<div class="container-fluid">
    {{> organisms/header title="PDF Module" }}

    {{> molecules/pdf-list }}

    <div class="code-wrapper">
        <div class="code-snippet">
            <h5>CSS:</h5>
            <pre>
				<code class="language-css">
.pdf-list ul {
  list-style: none;
}
.pdf-list ul li {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
.pdf-list ul li span {
  display: block;
  color: #CD2128;
}
.pdf-list ul li a {
  margin-left: 10px;
}
	          </code>
	        </pre>
        </div>
    </div>
</div>
