<div class="container-fluid">
    {{> organisms/header title="Product Offering" }}

    {{> molecules/product-offering }}


    <div class="code-wrapper">
        <div class="code-snippet">
            <h5>CSS:</h5>
            <pre>
				<code class="language-css">
.product-offering {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-offering ul li {
  color: #495966;
  font-size: 22px;
  font-style: italic;
}
.product-offering .default-button {
  margin-top: 20px;
}
	          </code>
	        </pre>
        </div>
    </div>
</div>
