<div class="container-fluid">
    {{> organisms/header title="Promotional Copy" }}

    {{> molecules/promotional-copy }}

    <div class="code-wrapper">
        <div class="code-snippet">
            <h5>CSS:</h5>
            <pre>
				<code class="language-css">
.promo-copy h4 {
  margin: 30px 0 20px;
}
.promo-copy ul {
  padding: 0;
  margin: 0;
}
.promo-copy ul li {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.promo-copy ul li img {
  max-width: 50px;
}
.promo-copy ul li p {
  margin-left: 15px;
  font-size: 19px;
  color: #495966;
}
	          </code>
	        </pre>
        </div>
    </div>
</div>
