<div class="container-fluid">
    {{> organisms/header title="Promotional Callout" }}

    {{> molecules/promo-callout }}

    <div class="code-wrapper">
        <div class="code-snippet">
            <h5>CSS:</h5>
            <pre>
				<code class="language-css">
.promo-callout {
  display: flex;
  padding: 40px 80px;
  background-color: #0D6E73;
}
.promo-callout > div {
  margin: 0 12px;
}
.promo-callout .img-wrapper img {
  max-width: 300px;
}
.promo-callout h2 {
  margin-top: 0;
  color: #fff;
  text-align: left;
}
.promo-callout .content {
  margin: 0 40px;
}
.promo-callout .content p {
  margin: 0;
  color: #fff;
  font-style: normal;
  font-size: 18px;
}
.promo-callout .btn-wrapper {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 992px) {
  .promo-callout {
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
  }
  .promo-callout .img-wrapper {
    margin-bottom: 24px;
  }
  .promo-callout .img-wrapper img {
    max-width: 100%;
  }
  .promo-callout h2 {
    text-align: center;
  }
  .promo-callout .btn-wrapper {
    margin-top: 40px;
  }
}
	          </code>
	        </pre>
        </div>
    </div>
</div>
