<div class="container-fluid">
    {{> organisms/header title="Q&A Module" }}

	  {{> molecules/qa }}

	<div class="code-wrapper">
		<div class="code-snippet">
			<h5>Javascript:</h5>
			<pre>
				<code class="language-js">
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {

  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    panel.classList.toggle("show");
  });
}
				</code>
			</pre>		
		</div>
	</div>
</div>