<div class="container-fluid">
    {{> organisms/header title="Static Item Article Small" }}
    
    <div class="container">
         <div class="row">
             <div class="col-sm-4">{{> molecules/static-item-article-small }}</div>
             <div class="col-sm-4">{{> molecules/static-item-article-small }}</div>
             <div class="col-sm-4">{{> molecules/static-item-article-small }}</div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="static-item-title">
                <h2>More Articles About Setting College Goals</h2>
                </div>    
            </div>
        </div>    
        
        <div class="row">
            <div class="col-sm-3">{{> molecules/static-item-article-small }}</div>
            <div class="col-sm-3">{{> molecules/static-item-article-small }}</div>
            <div class="col-sm-3">{{> molecules/static-item-article-small }}</div>
            <div class="col-sm-3">{{> molecules/static-item-article-small }}</div>
        </div>
    </div>

</div>
