{{> organisms/nav }}
 


 {{> molecules/banner-resources title="Choose the School that will Have the Greatest Impact" class="dark-contrast no-gradiant" image="/images/tools-resources.jpg"}}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            {{> molecules/static-item-article }}

            </div> 
    </div>
    
     <div class="row">
              <div class="col-sm-4">{{> molecules/static-item-article-small }}</div>
              <div class="col-sm-4">{{> molecules/static-item-article-small }}</div>
              <div class="col-sm-4">{{> molecules/static-item-article-small }}</div>
     </div>
    
      <div class="row">
            <div class="col-sm-12">
                <div class="static-item-title">
                <h2>More Articles About Setting College Goals</h2>
                </div>    
            </div>
        </div>
    
      <div class="row">
              <div class="col-sm-3">{{> molecules/static-item-article-small }}</div>
              <div class="col-sm-3">{{> molecules/static-item-article-small }}</div>
              <div class="col-sm-3">{{> molecules/static-item-article-small }}</div>
              <div class="col-sm-3">{{> molecules/static-item-article-small }}</div>
     </div>
    
    
    
    
    
    
</div>     
            

