{{> organisms/nav }}

{{> organisms/header-gradpath }}
<div class="row">
    <div class="col-md-12">
        {{> molecules/banner-hero-gradpath title="Fill the Cost-of-College Gap,<br>Do Great Things" subtitle="GradPath brings together college students and the generosity of community to support making the college dream possible." class="dark-contrast" image="/images/students-studying-together.jpg"}}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{> molecules/banner-gray-gradpath title="What Makes Us Different" class="light-contrast no-gradiant" image="" content-text=""}}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{> molecules/banner-story-gradpath title="“GradPath was really good for me because it helped me tell my story to those who want to help students in my field”" signature="Keely<br>Urban Agriculture Student" class="dark-contrast" image="/images/young-woman-presenting-planning-board-wider-bw.jpg"}}
    </div>
</div> 

<div class="row">
    <div class="col-md-12">
        {{> molecules/banner-green-gradpath title="How It Works" class="dark-contrast" image="/images/bgpattern.jpg"}}
    </div>
</div> 

