<div class="container-fluid">
    {{> organisms/header title="Video Module Right" }}
</div>    


{{> molecules/video-module-right class="dark-contrast" image="/images/bgpattern.jpg"}} 




<div class="code-wrapper">
		<div class="code-snippet">
			<h5>CSS:</h5>
			<pre>
				<code class="language-css">


// CSS is the same as video-module. Changes are on Handlebars molecule...


	          </code>
	        </pre>
	      </div>
	  </div>


