<div class="header-gradpath">
    <div class="container">
        <div class="logo logo-gradpath">
            <a href="">
                <img src="../../images/gradpath-logo.png" alt="gradpath logo">
            </a>
        </div>

        <ul class="nav-gradpath">
            <li>
                <a href="#">Donate</a>
            </li>
            <li>
                <a href="#">About GradPath</a>
            </li>
            <li>
                <a href="#">How it works</a>
            </li>
        </ul>

        <div class="signup-gradpath">
            {{> atoms/button modifierClass="default-button" title="signup" }}
        </div>
    </div>

</div>