<nav class="navbar navbar-default header" style="margin-bottom:0px;">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#div-main-navbar" aria-expanded="false">
                    <p class="navbar-text menu-header-text visible-xs-inline-block">Menu</p>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <a class="navbar-brand" href="/"><img src="https://dev.thriventstudentloanresources.com/TSLR_Site/img/thriventlogo.png" alt="Thrivent Logo"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="div-main-navbar">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="https://dev.thriventstudentloanresources.com/resources">Tools &amp; Resources</a></li><li><a href="https://dev.thriventstudentloanresources.com/why-new-school-lending">Why New School Lending</a></li>
                  
                  <li><i class="fa fa-search" aria-hidden="true"></i></li>
                  
                  <li class=" hidden dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <button type="button" class="sub-menu-toggle navbar-toggle collapsed visible-lg-inline-block visible-md-inline-block visible-sm-inline-block">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <!-- <span class='glyphicon glyphicon-menu-hamburger btn-lg visible-lg visible-md' aria-hidden='true'></span> -->
                  </a>
                  <ul class="dropdown-menu"><li><a href="https://dev.thriventstudentloanresources.com/community">Join the New School Lending Community!</a></li><li><a href="https://dev.thriventstudentloanresources.com/helping-you-figure-it-out">Helping You Figure it Out</a></li><li><a href="https://dev.thriventstudentloanresources.com/faq">FAQ</a></li><li><a href="https://dev.thriventstudentloanresources.com/contact-us">Contact Us</a></li><li><a href="https://dev.thriventstudentloanresources.com/2017-state-of-student-debt">2017 State of Student Debt</a></li><li><a href="https://dev.thriventstudentloanresources.com/testarticle">testarticle</a></li></ul>
                </li><li class="visible-xs"><a href="https://dev.thriventstudentloanresources.com/community">Join the New School Lending Community!</a></li><li class="visible-xs"><a href="https://dev.thriventstudentloanresources.com/helping-you-figure-it-out">Helping You Figure it Out</a></li><li class="visible-xs"><a href="https://dev.thriventstudentloanresources.com/faq">FAQ</a></li><li class="visible-xs"><a href="https://dev.thriventstudentloanresources.com/contact-us">Contact Us</a></li><li class="visible-xs"><a href="https://dev.thriventstudentloanresources.com/2017-state-of-student-debt">2017 State of Student Debt</a></li><li class="visible-xs"><a href="https://dev.thriventstudentloanresources.com/testarticle">testarticle</a></li><li><a href="https://dev.thriventstudentloanresources.com/login">Log In</a></li>
                
                <li><a href="https://dev.thriventstudentloanresources.com/apply" style="color: #c8102e;">Find My Rate</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>