<div class="container registration-complete">
    <div class="row">
        <div class="col-sm-12">
            <h2>You’re All Set! Thanks for being part of the Thrivent Community</h2>

            <h3>Where To Go From Here?</h3>

            <ul class="circle-steps-wrapper">
                <li class="circle-step">
                    <a href="#">
                        <img src="https://dev.thriventstudentloanresources.com/TSLR_Site/img/iccoin.svg" alt="">
                        <p>Explore Tools</p>
                    </a>
                </li>
                <li class="circle-step">
                    <a href="#">
                        <img src="https://dev.thriventstudentloanresources.com/TSLR_Site/img/iccoin.svg" alt="">
                        <p>Read <br>Articles & Tips</p>
                    </a>
                </li>
                <li class="circle-step">
                    <a href="#">
                        <img src="https://dev.thriventstudentloanresources.com/TSLR_Site/img/iccoin.svg" alt="">
                        <p>Reach Someone<br>for Advice</p>
                    </a>
                </li>
                <li class="circle-step">
                    <a href="#">
                        <img src="https://dev.thriventstudentloanresources.com/TSLR_Site/img/iccoin.svg" alt="">
                        <p>Learn More About<br>Membership</p>
                    </a>
                </li>
            </ul>

            {{> atoms/button modifierClass="default-button" title="I'm a Thrivent Member & Want to Link My Membership" }}

        </div>
    </div>
</div>