<div class="container students-gradpath">
    <div class="row">
        <div class="col-md-12">
            <h2>Students On GradPath</h2>
            <div class="row">
                <div class="col-sm-4">{{> molecules/static-item-article-small home="true" }}</div>
                <div class="col-sm-4">{{> molecules/static-item-article-small home="true" }}</div>
                <div class="col-sm-4">{{> molecules/static-item-article-small home="true" }}</div>
            </div>
        </div>
    </div>
</div>