// TODO: add "apply" class to a main div to ensure that this rules will affect "apply" page
.apply {

  hr {
    width: 60%;
    border-top: 1px solid @culearn-gray;
  }

  .lending-principles.questions {
    background-color: @culearn-gray;
    padding-top: 30px;
    padding-bottom: 80px;
  }

  .apply-terms .panel p {
    font-size: 18px;
    color: @bluegreen-2;
    font-style: normal;
  }
}