.apply-section {
  padding: 50px 15px 60px 15px;
  background-color: $white;

  h2 {
    margin: 0 0 24px 0;

    text-align: center;
    font-size: 32px;
    line-height: 47px;

    color: $thrivent-red;
  }

  p {
    text-align: center;
  }

  .stepper-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 16px 0 35px;

    img {
      width: 100%;
    }

    .line {
      background-image: url(https://dev.thriventstudentloanresources.com/TSLR_Site/img/linered.png);
      top: inherit;
      width: 14%;
    }
  }
}

