.header-gradpath {
    
  background-color: $white-smoke;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 12px;

    .logo-gradpath {
      order: 1;
      padding: 13px;

      img {
        max-width: 200px;
        transition: all 0.5s ease;
      }
    }

    .nav-gradpath {
      display: flex;
      order: 2;
      margin: 0 0 0 auto;
      padding: 0;

      li {
        margin: 0 12px;
        list-style: none;

        a {
          font-size: 22px;
          color: $bluegreen-2;
          text-decoration: none;
          font-style: normal;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .signup-gradpath {
      order: 3;
      margin-left: 50px;

      .btn {
        margin-top: 0;
      }
    }

    @media (max-width: 890px) {

      .nav-gradpath {
        order: 3;
        margin: 0 10px;
      }

      .signup-gradpath {
        order: 2;
        margin-left: auto;
      }
    }

    @media (max-width: 768px) {
      .nav-gradpath {
        margin: 20px 10px;

        li {
          text-align: center;

          a {
            font-size: 17px;
          }
        }
      }
    }

    @media (max-width: 425px) {
        
       .logo-gradpath {
         img {
           max-width: 110px;
         }
        }
        
        .nav-gradpath {
        width: 100%;    
        margin: 5px 0 0 0;
        }
        
        .nav-gradpath li {   
            text-align: left;
            width: 27%;
        }

        .nav-gradpath li:nth-child(2) {   
            text-align: center;
        }


        .nav-gradpath li:last-child {
            margin-right: 0;    
            text-align: right;
            width: 44%;
        }

        .nav-gradpath li a {
        font-size: 16px;
        }

        .signup-gradpath .default-button {
            padding: 5px 12px 3px;
        } 
        
    }
  }
}