.community-section {
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: $darkish-pink;
  background-repeat: repeat;
  background-size: 60px 38px;

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col-sm-4,
  .col-sm-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .community-icon {
    max-width: 145px;
  }

  .community {

    &-title {
      margin: 35px 0;
      color: $white;
      text-align: center;
    }

    &-content {
      color: $white;

      &.bold {
        font-weight: 600;
      }
    }
  }

  p {
    color: $white;
    text-align: center;
    margin: 12px 0;
  }
}
