.community-section {
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: @darkish-pink;
  // background-image: url(https://dev.thriventstudentloanresources.com/TSLR_Site/img/communitybgtess.png);
  background-repeat: repeat;
  background-size: 60px 38px;
  .community {
    &-icon {
      margin-top: 20px;
    }

    &-title {
      color: @white;
      margin: 35px 0;
    }

    &-content {
      color: @white;

      &.bold {
        font-weight: 600;
      }
    }
  }
  .default-button {
    margin: 20px auto 30px;
  }

  p {
    color: white;
    text-align: center;
    margin: 35px 0;
  }

  @media (min-width: 768px) {
    .connect-icon {
      margin-top: -45px;
    }

    .connect-details {
      margin: 15px 0px 30px;
    }
  }
}
