.home-community {
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: #DE4365;
  background-image: url(https://dev.thriventstudentloanresources.com/TSLR_Site/img/communitybgtess.png);
  background-repeat: repeat;
  background-size: 60px 38px;

  .default-button {
    margin: 20px auto 30px;
    border-color: #fff;
    color: #fff;
  }
  .default-button.inverted,
  .default-button.inverted:active {
    background: transparent;
    color: #FFF;
  }

  .default-button.inverted:hover{
    color: #128482;
    background-color: #fff;
  }
}