.banner-module-story {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 436px;
  font-size: 48px;

  background-position: center top;
  background-color: #f6f3f3;
  background-size: cover;
  background-repeat: no-repeat;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to left, #339d9c, #de4365);
    opacity: .75;
  }
}

.story-content {
  margin-top: 15%;    
  padding: 30px 40px;
  text-align: center;
    
    h2 {
        font-size: 26px;
        letter-spacing: 1px;
        
    }
    
    h4 {
        font-size: 22px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 1px;
    }
}

.transparency {
    
        background: linear-gradient(
            to right, 
            rgba(0, 0, 0, 0.0) 0%, 
            rgba(0, 0, 0, 0.0) 50%,
            rgba(0, 0, 0, 0.4) 50%,
            rgba(0, 0, 0, 0.4) 100%
          );
    
        width: 100%;
        min-height: 436px;
	}


@media (max-width: 991px) {
     
    .transparency {
     background: none; 
     }
    
    .banner-module-story {  
     background-position: left top;
    }
     
}

@media (max-width: 767px) {
    
    .banner-module-story {
     background-position: left -350px top 1px;
    }
     
}




