.banner-module {
    background: url("https://www.thriventstudentloanresources.com/TSLR_Site/img/overlaygradient.png") repeat-x, url("https://www.thriventstudentloanresources.com/TSLR_Site/img/youngwomanpresentingplanningboard.jpg") repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


