.banner-about-gradpath {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 490px;
  background-position: center top;
  font-size: 48px;
  background-color: #f6f3f3;
  background-size: cover;
  background-repeat: no-repeat;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to left, #339d9c, #de4365);
    opacity: .75;
  }

  h2 {
    display: block;
    margin: 0 auto;
    max-width: 742px;

    font-weight: 500;
    line-height: 1.11;
    text-align: center;
    color: $white;
  }
}

.banner-simple-gradpath {
  min-height: 200px;
}