.banner-green {
  display: flex;
  padding: 60px 20px 80px 20px;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  text-align: center;
  background-color: $pale-teal;
    
    h2 {
      font-size: 60px;  
    }
    
    .circle h4{
       font-size: 32px;  
       -webkit-transform: rotate(-30deg);
	   transform: rotate(-30deg);
    }
    
    .circle h4 strike {
       color: $thrivent-red!important;    
    }
    
    .circle {
        width: 140px;
        height: 140px;
    }
    
    .circle-icon {
        height: 5px;
    }
    
    h3 {
       font-family: $heading-font;
       font-size: 26px;
       font-weight: 400;
       text-align: center;
       margin: 30px 0 10px 0;
    }
    
    h5 {
       margin-bottom: 25px;
    }
    
    .lines {
    position: absolute;
    margin: 55px 0 0 200px;
    }
  
}


@media (max-width: 1199px) {
    
    
    .banner-green .circle h4 {
    margin-top: 25px;
    }
    
   .banner-green .lines {
    position: absolute;   
    margin: 60px 0 0 60px;
    }
}



@media (max-width: 991px) {
    
    
    .banner-green .circle h4 {
    margin-top: 30px;
    }
    
     
   .banner-green .lines {
    position: absolute;
    margin: 55px 0 0 8px;
    letter-spacing: -1px;   
    }
     
}


@media (max-width: 767px) {
    
    
        .banner-green .circle {
        padding: 35px 5px;    
        width: 140px;
        height: 140px;
        margin-top: 60px;    
    }
    
    
    .banner-green .circle {
        padding: 35px 5px;    
        width: 140px;
        height: 140px;
    }
    

    
     
    .banner-green .circle h4 {
        margin-top: 5px;
    }
     
}



