.borrow-more {
    padding: 50px 15px 40px 15px;


    h2,
    p {
        color: #006E74;
        text-align: center;
    }

    h2 {
        @media (min-width: 768px) {
            padding-bottom: 40px;
        }
    }

    p {
        color: #495966;
    }

    .default-button {
        margin: 40px auto;

        border-color: #495966;
        color: #495966;
    }

    .default-button:hover {
        background-color: #4A5965;
        color: #fff;
    }

    .img-list-container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        
        margin: 24px 0;
    
        img {
            width: 100%;
        }
    }

    @media (max-width: 767px) {
            padding: 0;
    }
}