.bulleted-list {
    padding-top: 20px;
    padding-bottom: 20px;

    ul {
        padding: 0;

        li {
            position: relative;
            margin: 20px 0;
            padding-left: 38px;

            font-family: $content-font;
            font-size: 18px;
            line-height: 1.33;
            text-align: left;
            color: $bluegreen-2;
            list-style: none;

            &:before {
                content: '';
                width: 10px;
                height: 10px;

                position: absolute;
                top: 6px;
                left: 0;
                border-radius: 50%;

                background-color: $darkish-pink;
                border: 1px solid $darkish-pink;
            }

            ul li {
                &:before {
                    background-color: transparent;
                }
            }
        }
    }
}