.find-students {
  margin-top: 50px;
  margin-bottom: 50px;

  h2 {
    margin-bottom: 34px;
    text-align: center;
    font-weight: 300;
  }

  .find-students-search {
    text-align: center;

    p {
      margin: 0;
      font-family: $heading-font;
      font-size: 15px;
      font-weight: 300;
      text-align: left;
      font-style: normal;
      color: $bluegreen-2;
    }

    input {
      margin-right: 30px;
      height: 44px;
      width: 360px;
      padding: 8px;
      font-weight: 400;

      font-family: $heading-font;
      font-size: 15px;
      border: 1px solid $pale-teal;
      outline: none;
    }
  }
}


@media (max-width: 767px) {
     
    .find-students .find-students-search input {
        margin-right: 0px;
        width: 280px;
    }
     
}
