.product-offering {
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    li {
      color: $thrivent-gray;
      font-size: 22px;
      font-style: italic;
    }
  }

  .default-button {
    margin-top: 20px;
  }
}