.create-campaign {
    
    margin: 40px 20px;
    
    h1 {    
    text-align: center!important; 
    }
   
    h2 {    
    font-size: 50px;
    margin-bottom: 40px;
    color: $bluegreen-2;    
    }
    
    h2 span {
      font-size: 20px;
      letter-spacing: 1px;    
    }
    
    hr {
      width: 100%!important;
      margin:20px 0;    
    }    
    
}