.signup-form {
    .hs-error-msgs {
        padding: 4px;
        list-style: none;

        li {
            font-size: 12px;
        }
    }

    input {
        margin-top: 5px !important;
        height: 40px !important;
        border: solid 1px $pale-teal !important;
        border-radius: 0 !important;
        padding: 0 12px !important;
        font-size: 14px;
        outline: none;
    }

    .hs-field-desc {
        color: $thrivent-gray !important;
        font-size: 13px;
    }

    select {
        font-size: 14px;
        padding: 12px;
    }

    input.hs-input {
        width: 100%;
        max-width: 100%;
        box-sizing: inherit !important;
    }
    input[type="submit"] {
        margin: 0;
        padding: 0px 25px 0px !important;
        border: 2px solid $btn-gray !important;
        background: transparent;
        color: $btn-gray !important;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 300;
        outline: none;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        text-decoration: none !important;
        font-family: 'Heebo', sans-serif;
        font-size: 16px;
        text-shadow: none;
    }
    input[type="submit"]:hover {
        background-color: $btn-gray;
        color: $white !important;
        box-shadow: none !important;
    }
    label > span:first-of-type {
        font-family: 'Heebo', sans-serif !important;
        font-size: 15px !important;
        font-weight: 300 !important;
        color: $bluegreen-2 !important;
        margin-right: 4px;
    }

    .input select {
        background: $white;
        height: 42px;
        width: 100%;
        max-width: 100%;
        border: solid 1px $pale-teal !important;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        outline: none;
    }

    .hs-form label {
        margin-bottom: 0;
        width: 100%;
    }

    .hs-form-field {
        margin-bottom: 18px;
    }

    .hs-form-required {
        color: red;
        font-size: 14px;
    }

    .hs_community_workflow .input {
        position: relative;
    }

    .hs_community_workflow .input:after {
        content: '>';
        font: 16px Consolas, monospace;
        color: $pale-teal;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        right: 0px;
        top: 8px;
        border-bottom: 1px solid $pale-teal;
        position: absolute;
        pointer-events: none;
        width: 41px;
        padding: 0 0 8px 0;
        text-indent: 16px;
    }

    .actions {
        margin-top: 20px;
    }
}