// TODO: ensure that .default-button and his variations are all aligned with layout proposal (was some font-sizes, padding, positions, colors and border-colors specific for each section that may be deleted)

body {
  font-family: @content-font;
  font-size: 19px;
  text-align: left;
  color: @bluegreen-2;

  form { //TODO: why do we need this spcific rules?
    .container {

      @media (min-width: 1330px) {
        width: 1300px;
      }

      .row {

        @media (max-width: 768px) {
          padding-left: 12px;
          padding-right: 12px;
        }

        &.home-s1-bg {
          padding: 0;
        }
      }
    }
  }
}

ol ol {
  list-style-type: upper-alpha;
}

.video-holder,
.col-right.hidden-xs.col-sm-5,
.do-not-borrow-self .col-right.col-sm-4 {
  margin: 0 -1px; /*hack for col size in safari*/
}

.dropdown-toggle {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; /* hack for IE11 */
}

.modal-body {
  padding: 30px;
}

@media (min-width: 768px) {
  .pull-right-sm {
    float: right;
  }

  .pull-left-sm {
    float: left;
  }
}