body {
    font-family: $content-font;
    font-size: 19px;
    text-align: left;
    color: $bluegreen-2;

    form {
        .container {

            @media (min-width: 1330px) {
                width: 1300px;
            }

            .row {

                &.home-s1-bg {
                    padding: 0;
                }
            }
        }
    }
}

ol ol {
    list-style-type: upper-alpha;
}

@media (min-width: 768px) {
    .pull-right-sm {
        float: right;
    }

    .pull-left-sm {
        float: left;
    }
}

.video-holder,
.col-right.hidden-xs.col-sm-5,
.do-not-borrow-self .col-right.col-sm-4 {
    margin: 0 -1px; /*hack for col size in safari*/
}

.dropdown-toggle {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; /* hack for IE11 */
}

.modal-body {
    padding: 30px;
}