.hexagon {
  background-image: url("../images/hexagon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a.circle-link{
text-decoration: none;
    &:hover {
       text-decoration: underline; 
    }
}

.circle {
  padding: 15% 5%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  background: #fff;
  text-align: center;
  margin: 0 auto;
}


// background image (numbers) for every circle, total must be 7

.circle-1 {
  background: url(https://dev.thriventstudentloanresources.com/ResourceLink/264/one.png), linear-gradient(rgba(255, 255, 255, 0.97), rgba(255, 255, 255, 0.97));
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

// general style for icons inside of circle

.circle-icon {
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

// icons inside of every circle, total must be 7

.circle-icon-1 {
  background-image: url("https://www.thriventstudentloanresources.com/TSLR_Site/img/icfile.svg");
}

.circle-icon-2 {
  background-image: url("https://dev.thriventstudentloanresources.com/TSLR_Site/img/iccoin.svg");
}

.circle h4 {
  font-family: $content-font;
  font-size: 24px;
  text-align: center;
  color: #006e74 !important;
}

.circle p {
  font-family: $heading-font;
  font-size: 19px;
  font-weight: 300;
  text-align: center;
  color: #006e74 !important;
  font-style: normal;
  margin-top: 10px;

}

// Media Queries for small screens and mobiles...

@media (max-width: 1199px) {

  .circle {
    padding: 10% 5%;
    width: 290px;
    height: 290px;
  }

}

@media (max-width: 991px) {

  .circle {
    padding: 5% 5%;
    width: 240px;
    height: 240px;
  }

}

@media (max-width: 767px) {

  .hexagon {
    background-image: none;
      .circle {
    width: 230px;
    height: 230px;
    margin-bottom: 20px;

        &-icon {
          width: 30px;
          height: 30px;
        }
    }
          
  }

  .circle {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;

    &-icon {
      width: 50px;
      height: 50px;
    }

    h4 {
      font-size: 20px;
    }
  }

}






